name: CI/CD Pipeline

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: Run ESLint
        run: npm run lint

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: Run unit tests
        run: npm run test:run

  e2e-tests:
    name: E2E Tests
    runs-on: ubuntu-latest
    if: false
    needs: lint
    environment: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: Install Playwright browsers
        run: npx playwright install --with-deps chromium

      - name: Run E2E tests
        run: npm run test:e2e

  build:
    name: Build
    runs-on: ubuntu-latest
#    Temporary disabled e2e tests to speed up the pipeline
#    needs: [unit-tests, e2e-tests]
    needs: unit-tests
    env:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
      SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET: ${{ secrets.SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: Build production
        run: npm run build

#      - name: Upload build artifacts
#        uses: actions/upload-artifact@v6
#        with:
#          name: build-output
#          path: dist
#          retention-days: 1
#
#  deploy:
#    name: Deploy to Cloudflare Pages
#    runs-on: ubuntu-latest
#    needs: build
#    environment: production
#    steps:
#      - name: Download build artifacts
#        uses: actions/download-artifact@v7
#        with:
#          name: build-output
#          path: dist
#
#      - name: Deploy to Cloudflare Pages
#        uses: cloudflare/wrangler-action@v3
#        with:
#          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
#          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
#          command: pages deploy dist --project-name=${{ vars.CLOUDFLARE_PROJECT_NAME }}
